//Variables and functions
    @use "../variables-functions/variables"  as *;
    @use '../variables-functions/colors'     as *;
    @use '../variables-functions/functions'  as *;
    @use '../variables-functions/fonts'      as *;
    @use '../nav/nav.scss'                   as *;
    @use '../nav/nav-mobile.scss'            as *;
    @use '../nav/nav-pc.scss'                as *;
    @use '../variables-functions/animations' as *;

main{
    section.about-me{

        padding: 100px 20px 100px 20px;
        background-image: url('../../img/background/background-main.png');
        background-size: cover;

        h2{
            @include mainFont();
            color: white;
            font-weight: 900;
        }

        div.about-me-container{
            @include mainFont();
            display: flex;
            flex-direction: column;
            gap: 60px;

            div.item{
                display: flex;
                flex-direction: column;
                gap: 15px;
                justify-content: center;

                img{
                    width: 60%;
                    max-width: 300px;
                }
                p{
                    color: $text;
                    font-size: $text-font-size;
                }
            }
            div.item.left{
                align-items: start;
                text-align: start;
            }
            div.item.right{
                align-items: end;
                text-align: end;
            }
        }
    }
}