//Variables and functions
    @use "../variables-functions/variables"  as *;
    @use '../variables-functions/colors'     as *;
    @use '../variables-functions/functions'  as *;
    @use '../variables-functions/fonts'      as *;
    @use '../nav/nav.scss'                   as *;
    @use '../nav/nav-mobile.scss'            as *;
    @use '../nav/nav-pc.scss'                as *;
    @use '../variables-functions/animations' as *;

main{
    section.about-me{

        padding: 100px 20px 100px 20px;
        background: $gray;

        h2{
            @include mainFont();
            color: white;
            font-weight: 900;
            font-size: $title-font-size-mobile;
            text-align: center;
            margin-bottom: 60px;
        }

        div.about-me-container{
            @include mainFont();
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            max-width: 900px;
            align-self: center;
            justify-self: center;

            div.column1, div.column2{
                display: grid;
                grid-template-rows: repeat(4, 1fr);
            }

            div.item{
                display: flex;
                flex-direction: column;
                gap: 15px;
                justify-content: center;

                img{
                    width: 100%;
                    max-width: 300px;
                    border-radius: 12px;
                    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.8);
                }
                p{
                    color: $text;
                    font-size: $text-font-size;
                }
            }
            div.item.left{
                align-items: start;
                text-align: start;
            }
            div.item.right{
                align-items: end;
                text-align: end;
            }
        }

        @media (orientation: landscape){
            h2{
                font-size: 80px;
            }
            
            div.about-me-container{
                div.item{
                    p{
                        font-size: $text-big-font-size;
                    }
                }
            }
        }
    }
}