//Variables and functions
    @use "../variables-functions/variables"  as *;
    @use '../variables-functions/colors'     as *;
    @use '../variables-functions/functions'  as *;
    @use '../variables-functions/fonts'      as *;
    @use '../nav/nav.scss'                   as *;
    @use '../nav/nav-mobile.scss'            as *;
    @use '../nav/nav-pc.scss'                as *;
    @use '../variables-functions/animations' as *;

main{
    section.about-me{
        overflow: clip;
        padding: 100px 40px 200px 40px;
        background: $gray;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div.about-me-container{
            position: relative;
            @include mainFont();
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 60px;
            max-width: 900px;
            align-self: center;
            justify-self: center;
            padding-bottom: 80px;

            div.middle-line{
                position: absolute;
                align-self: start;
                justify-self: center;
                height: 0%;
                width: 4px;
                background-color: $text-highlight;
                box-shadow: 0 0 10px 1px $text-highlight;
                border-radius: 10px 10px 0 0;
                z-index: 1;
                opacity: 0.5;

                animation: progress-bar-about-me linear;
	            animation-timeline: scroll(); 
                animation-range: 40% 100%;
            }

            div.item{
                z-index: 2;
                display: flex;
                flex-direction: column;
                gap: 15px;
                justify-content: center;
                opacity: 1;

                img{
                    width: 80%;
                    max-width: 300px;
                    border-radius: 12px;
                }
                p{
                    color: $text;
                    font-size: $text-font-size;
                    max-width: 100%;
                }
            }
            div.item.left{
                transform: translateX(-150px) scale(0.75);
                opacity: 0;

                animation: about-me-left-item linear;
	            animation-timeline: view(); 
                animation-range: 0% 45%;
                animation-fill-mode: forwards;

                img{
                    box-shadow: -10px 10px 0 0 rgba($text-highlight, 0.1);
                }

                align-items: start;
                text-align: start;
            }
            div.item.right{
                transform: translateX(150px) scale(0.75);
                opacity: 0;

                animation: about-me-right-item linear;
	            animation-timeline: view(); 
                animation-range: 0% 45%;
                animation-fill-mode: forwards;


                img{
                    box-shadow: 10px 10px 0 0 rgba($text-highlight, 0.1);
                }

                align-items: end;
                text-align: end;
            }
        }

        div.see-projects-container{
            max-width: 600px;
            width: 100%;
            align-self: center;
            justify-self: center;
            opacity: 0;
            
            animation: about-me-projects-button linear;
            animation-timeline: view();
            animation-range: 0% 30%;
            animation-fill-mode: forwards;
        }

        @media (orientation: landscape){
            
            div.about-me-container{

                div.middle-line{
                    opacity: 1;
                }

                div.item{
                    img{
                        width: 100%;
                    }
                    p{
                        font-size: $text-big-font-size;
                        max-width: 45%;
                    }
                }   
            }
        }
    }
}