//Imports
    @use '../animations/animations'         as *;
    @use '../components/buttons'            as *;
    @use '../components/fonts'              as *;
    @use '../components/arrows'       as *;
    @use '../variables-functions/colors'    as *;
    @use '../variables-functions/functions' as *;
    @use '../variables-functions/variables' as *;

section.all-techs{

    min-height: 100vh;
    @include background2();
    padding: 100px 40px 100px 40px;

    div.title-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        a.return-button{
            opacity: 0.75;
            text-decoration: none;
            text-align: center;
            text-justify: center;
            transition: 0.3s ease;

            img{
                width: 30px;
            }

            &:hover{
                transform: scale(1.1);
                opacity: 1;
            }
            &:active{
                transform: scale(0.95)
            }
            
        }
        h2{
            @include text-title();
            text-align: center;
        }
        margin-bottom: 80px;
    }

    div.techs-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 800px;
        justify-self: center;
        gap: 60px;
        div.tech{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            transition: 0.1s ease;

            img{
                width: 100%;
                border-radius: 10px;
                transition: 0.3s ease;
            }
            p{
                @include text-paragraph();
            }

            &:hover{
                img{
                    transform: rotateY(20deg) rotateX(20deg);
                }
            }
        }
    }
}

@media (orientation: landscape){
    section.all-techs{
        div.techs-container{
            grid-template-columns: repeat(4, 1fr);
        }
    }
}