//Imports
    @use '../animations/animations'         as *;
    @use '../components/buttons'            as *;
    @use '../components/fonts'              as *;
    @use '../variables-functions/colors'    as *;
    @use '../variables-functions/functions' as *;
    @use '../variables-functions/variables' as *;

section.all-techs{

    min-height: 100vh;
    @include background2();
    padding: 100px 40px 100px 40px;

    h2{
        @include text-title();
        margin-bottom: 80px;
        text-align: center;
    }

    div.techs-container{
       
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 800px;
        justify-self: center;
        gap: 60px;
        div.tech{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            transition: 0.1s ease;

            img{
                width: 100%;
                border-radius: 10px;
                transition: 0.3s ease;
            }
            p{
                @include text-paragraph();
            }

            &:hover{
                img{
                    transform: rotateY(20deg) rotateX(20deg);
                }
            }
        }
    }
}

@media (orientation: landscape){
    section.all-techs{
        div.techs-container{
            grid-template-columns: repeat(4, 1fr);
        }
    }
}