//Variables and functions
    @use "../variables-functions/variables"  as *;
    @use '../variables-functions/colors'     as *;
    @use '../variables-functions/functions'  as *;
    @use '../variables-functions/fonts'      as *;
    @use '../nav/nav.scss'                   as *;
    @use '../nav/nav-mobile.scss'            as *;
    @use '../nav/nav-pc.scss'                as *;
    @use '../variables-functions/animations' as *;

main.home{
    background: $background;
    height: 100vh;

    img{
        width: 300px;
        border-radius: 0 0 40% 40%;
    }
}

h1{
    @include mainFont();
    font-weight: 500;
    color: $text-highlight;
}

