//Variables and functions
    @use "../variables-functions/variables"  as *;
    @use '../variables-functions/colors'     as *;
    @use '../variables-functions/functions'  as *;
    @use '../variables-functions/fonts'      as *;
    @use '../nav/nav.scss'                   as *;
    @use '../nav/nav-mobile.scss'            as *;
    @use '../nav/nav-pc.scss'                as *;
    @use '../variables-functions/animations' as *;

main{
    section.home{
        background: $background;
        padding: 0px 20px 100px 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        

        div.hacker-wrapper{
            z-index: 3;
            position: absolute;
            width: 300px;
            top: 240px;
            justify-self: center;
            animation: hacker-animation 4s ease infinite;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img.hacker, img.bg-hacker{
                width: 100%;
                position: absolute;
                border-radius: 150px;
                animation: start-animation-1 1s ease forwards;
            }

            img.hacker{
                z-index: 2;
            }

            img.bg-hacker{
                position: absolute;
                z-index: 1;
                filter: blur(18px) brightness(4);
                width: calc(100% + 10px);
            }
        }

        div.part2{
            z-index: 4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 240px;
            gap: 30px;

            div.title-paragraph-container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 15px;
                
                h1{
                    color: white;
                    font-size: 35px;
                    @include mainFont();
                    font-weight: 900;
                    animation: start-animation-2 1s ease forwards;
                }

                p{
                    color: $text;
                    @include mainFont();
                    text-align: center;
                    animation: start-animation-3 1s ease forwards;
                }
            }

            div.buttons-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                gap: 15px;
                animation: start-animation-1 1s ease forwards;

                a{
                    width: 100%;
                    text-decoration: none;
                    button{
                        cursor: pointer;
                        letter-spacing: 5px;
                        border: none;
                        border-radius: 80px;
                        padding: 12px;
                        @include mainFont();
                        width: 100%;
                    }
                }

                a.contact-a{
                    button{
                        box-shadow: 0 5px 10px 0 rgba($text-highlight, 0.2);
                        background: $button-gradient;
                        font-size: 20px;
                        font-weight: 900;
                        color: white;
                        border: 2px solid rgba($text-highlight, 0.2);
                        animation: button-animation 4s linear infinite;
                        transition: 0.3s ease;

                        &:hover{
                            transform: scale(1.02);
                            box-shadow: 0 5px 10px 0 rgba($text-highlight, 0.6);
                            border: 2px solid rgba($text-highlight, 0.8);
                        }

                        &:active{
                            transform: scale(0.95);
                            box-shadow: 0 5px 10px 0 rgba($text-highlight, 0.6);
                            border: 2px solid rgba($text-highlight, 0.8);
                        }
                    }
                }

                a.about-me-a{
                    button{
                        background: transparent;
                        border: 1px solid $line;
                        font-size: 18px;
                        color: $text;
                        transition: 0.3s ease;

                        &:hover{
                            border: 1px solid white;
                            letter-spacing: 8px;
                        }
                    }
                }

                a.curriculum{
                    text-align: center;
                    color: $line;
                    text-decoration: underline;
                    font-size: 18px;
                }
            }
        }

        @media(orientation: landscape){

            padding: 200px 20px 200px 20px;
            grid-template-columns: repeat(2, 1fr);
            overflow: hidden;

            div.hacker-wrapper{
                width: 650px;
                top: calc(50% + 60px);
                left: calc(25% - 325px);

                img.bg-hacker{
                    filter: blur(18px) brightness(2);
                }
            }

            div.part2{
                margin-top: 48px;
                max-width: 700px;

                div.title-paragraph-container{
                    align-items: start;
                    

                    h1{
                        font-size: 80px;
                        letter-spacing: 10px;
                        line-height: 65px;
                    }

                    p{
                        text-align: left;
                    }
                }

                div.buttons-container{
                    align-items: left;
                    justify-content: left;
                    text-align: left;
                    color: red;

                    a.curriculum{
                        text-align: left;
                    }
                }
            }
        }
    }
}   