//Imports
    @use '../animations/animations'         as *;
    @use '../components/buttons'            as *;
    @use '../components/fonts'              as *;
    @use '../components/lines'              as *;
    @use '../variables-functions/colors'    as *;
    @use '../variables-functions/functions' as *;
    @use '../variables-functions/variables' as *;

section.projects{
    min-height: 100vh;
    background: $background-gradient;
    padding: 100px 20px 100px 20px;
    overflow: clip;

    h2{
        margin-bottom: 50px;
        @include text-title();
        text-align: center;
    }

    //ARROWS
    div.arrow{
        position: absolute;
        z-index: 999;
        top: 50%;
        background-color: $text-highlight;
        padding: 10px;
        border-radius: 50%;
        width: 60px;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 50%;
        cursor: pointer;
        transition: 0.2s ease;

        img{
            width: 30px;
        }

        &:hover{
            transform: scale(1.05);
            opacity: 100%;
        }
        &:active{
            transform: scale(0.9);
        }

    }

    div.arrow-left{
        left: 5%;
    }

    div.arrow-right{
        right: 5%;
    }

    div.projects-container{
        display: flex;
        justify-content: center;
        position: relative;

        div.project{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            z-index: 5;
            cursor: pointer;
            transition: 1s ease;

            img{
                width: 200px;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                border: 1px solid rgba($text-highlight, 0.5);
                box-shadow: 0 0 30px 0 rgba($text-highlight, 0.25);
                transition: 1s ease;

                &:hover{
                    filter: brightness(2);
                }
            }
            div.project-texts{
                text-align: center;
                text-justify: center;
                opacity: 1;
                transition: 1s ease;
                padding: 0 20px 0 20px;

                h3{
                    @include text-title();
                    font-size: 40px;
                }
                p{
                    @include text-paragraph();
                    text-align: center;
                    text-justify: center;
                    font-size: 16px;
                }
            }
        }

        div.project.closed-left,
        div.project.closed-right,
        div.project.hide-left,
        div.project.hide-right{
            position: absolute;
            filter: blur(4px);
            z-index: 1;

            img{
                border: 1px solid $line;
                box-shadow: 0 0 30px 0 transparent;
            }
        }

        //CLOSED
        div.project.closed-left{
            transform: translateX(-50%) scale(0.80);
            opacity: 0.5;
        }
        div.project.closed-right{
            transform: translateX(50%) scale(0.80);
            opacity: 0.5;
        }

        //HIDE
        div.project.hide-left{
            transform: translateX(-100%) scale(0.75);
            opacity: 0;
        }

        div.project.hide-right{
            transform: translateX(100%) scale(0.75);
            opacity: 0;
        }
    }
    
    div.line{
        @include neon-line();
    }

    @media (orientation: landscape){
        h2{
            text-align: left;
        }
        
        div.arrow-left{
            left: 15%;
        }

        div.arrow-right{
            right: 15%;
        }

        div.projects-container{
            div.project{
                img{
                    width: 300px;
                }
            }

            //CLOSED
            div.project.closed-left{
                transform: translateX(-80%) scale(0.80);
            }
            div.project.closed-right{
                transform: translateX(80%) scale(0.80);
            }

            //HIDE
            div.project.hide-left{
                transform: translateX(-160%) scale(0.75);
            }

            div.project.hide-right{
                transform: translateX(160%) scale(0.75);
            }
        }
        /*
        <div class="projects-container" id="projects_container">
            <!--PICODE-->
            <div class="project">
                <img src="../img/projects/picode-fav.png" alt="Project image">
                <div class="project-texts">
                    <h3>PICODE</h3>
                    <p>Página web para codificação de textos</p>
                </div>
            </div>
        </div>
        */
    }
}