//Imports
    @use '../animations/animations'         as *;
    @use '../components/buttons'            as *;
    @use '../components/fonts'              as *;
    @use '../variables-functions/colors'    as *;
    @use '../variables-functions/functions' as *;
    @use '../variables-functions/variables' as *;

section.projects{
    background: $background-gradient;
    height: 100vh;
    padding: 50px 40px 0px 40px;
    color: white;
    overflow-x: clip;

    h2{
        @include text-title();
        position: absolute;
        top: 70px;
    }

    div.projects-carousel{
        margin-top: 85px;

        div.project-container{
            z-index: 3;
            box-shadow: 0 0 50px 0 rgba($text-highlight, 0.5);
            max-width: 400px;
            background-color: $gray;
            border-radius: $border-radius;
            border: 1px solid rgba($text-highlight, 0.5);
            overflow: hidden;
            filter: blur(0px);
            width: 75%;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) scale(1);
            transition: 1s ease;


            div.project-header{
                display: flex;
                justify-content: space-between;
                background-color: $gray-light;
                padding: 8px 14px 8px 14px;
                border-bottom: 1px solid $line;

                p{
                    @include text-main();
                    font-size: 12px;
                    font-weight: 500;
                }
            }

            div.project-content{
                padding: 14px;
                display: flex;
                flex-direction: column;
                gap: 14px;

                img{
                    width: 100%;
                    border-radius: $border-radius;
                }

                div.project-skills{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    p{
                        border-radius: $border-radius;
                        background-color: $skill;
                        padding: 8px;
                        font-size: 12px;
                        @include text-main();
                    }
                }

                div.texts-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    align-items: center;
                    gap: 5px;
                    @include text-main($title);
                    
                    h3{
                        
                        font-weight: 900;
                        font-size: 25px;
                        text-align: center;
                    }
                    p{
                        @include text-paragraph();
                        font-size: 15px;
                    }
                }

                div.buttons-container{
                    
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 10px;

                    a{
                        text-decoration: none;
                        button{
                            border-radius: 4px;
                            padding: 8px;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    a.test-button{
                        @include button-primary();
                        button{
                            border-radius: 4px;
                            font-size: $text-font-size;
                        }
                    }

                    a.github-button{

                        button{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            text-justify: center;
                            gap: 6px;
                            border: 1px solid $line;
                            background-color: transparent;
                            color: $text;
                            font-size: $text-font-size;
                            
                            img{
                                width: 20px;
                            }
                        }
                    }
                }
            }
        }

        div.project-container.closed-left{
            border: 1px solid rgba($line, 1);
            box-shadow: 0 0 10px 0 transparent;
            filter: blur(2px);
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translateX(-150%) translateY(-50%) scale(0.85);
        }

        div.project-container.closed-right{
            border: 1px solid rgba($line, 1);
            box-shadow: 0 0 10px 0 transparent;
            filter: blur(2px);
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translateX(50%) translateY(-50%) scale(0.85);
        }

        div.project-arrow{
            cursor: pointer;
            z-index: 999;
            background-color: $skill;
            width: fit-content;
            aspect-ratio: 1 / 1;
            padding: 10px;
            font-size: 30px;
            font-weight: 1000;
            border-radius: 50%;
            text-align: center;
            text-justify: center;
            opacity: 0.90;
            position: fixed;
            top: 50%;
            transition: 0.2s ease;

            &:hover{
                opacity: 1;
                filter: brightness(1.5);
            }

            &:active{
                filter: brightness(0.9);
            }
        }
        div.project-arrow-right{
            right: 4%;
        }
        div.project-arrow-left{
            left: 4%;
        }
    }
}