//Imports
    @use '../animations/animations'         as *;
    @use '../components/buttons'            as *;
    @use '../components/fonts'              as *;
    @use '../variables-functions/colors'    as *;
    @use '../variables-functions/functions' as *;
    @use '../variables-functions/variables' as *;

section.techs{

    min-height: 100vh;
    @include background2();
    padding: 100px 40px 100px 40px;

    h2{
        @include text-title();
        margin-bottom: 30px;
    }

    div.carousel{

        display: flex;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        

        div.techs-container {
            display: grid;
            grid-template-columns: repeat(18, 1fr);
            animation: carousel 10s linear infinite;
            
            img{
                padding: 0 50px 0 50px;
            }
        }
    }

    @keyframes carousel {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-100%);
        }
    }
}