//Variables and functions
    @use "../variables-functions/variables"  as *;
    @use '../variables-functions/colors'     as *;
    @use '../variables-functions/functions'  as *;
    @use '../variables-functions/fonts'      as *;
    @use '../variables-functions/animations' as *;


button.open-nav-button{
    z-index: 100;
    position: fixed;
    bottom: 5vh;
    left: 50vw;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 50%;
    border: none;
    background: $gray-light;
    opacity: 0.95;
    cursor: pointer;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.45);
    animation: floating 4s ease infinite;
    animation-timeline: auto;
    transition: .5s ease;

    img{
        width: 30px;
        aspect-ratio: 1 / 1;
        transition: 0.3s ease;
    }

    &:hover{
        background: $line;
        img{
            transform: rotate(10deg);
        }
    }
}

button.open-nav-button.closed{
    opacity: 0;
    pointer-events: none;
}

footer.footer-mobile{
    z-index: 100;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-self: center;

    button.close-nav-button{
        background-color: $gray-light;
        border: none;
        border-radius: 36px 36px 0 0;
        height: 42px;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s ease;

        img{
            width: 20px;
            height: 20px;
            transition: 0.3s ease;
        }

        &:hover{
            background-color: $line;

            img{
                transform: rotate(90deg);
            }
        }
    }

    nav.nav-mobile{
        display: flex;
        justify-content: center;
        background-color: $gray-light;
        width: 100%;
        opacity: 1;
        overflow: hidden;
        transition: 0.5s ease;

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        
        a{
            text-decoration: none;
            font-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid $line;
            padding: 12px 20px 12px 20px;
            
            transition: 0.3s ease;

            img{
                width: 30px;
                transition: 0.3s ease;
            }

            &:hover{
                background-color: $line;
                img{
                    transform: rotate(10deg);
                }
            }
        }

        a.current-page{
            border-top: 4px solid $section-mark;
        }
    }
    transition: 0.5s ease;
}

footer.footer-mobile.closed{
        z-index: 9;
        pointer-events: none;
        opacity: 0;
    

    button.close-nav-button{
        opacity: 0;
    }

    nav.nav-mobile{
        width: 70px;
        height: 70px;
        padding: 20px;
        border-radius: 50%;
        padding: 20px;
        transform: translateY(-29px);
    }
}

@media (orientation: landscape){
    footer.footer-mobile, button.open-nav-button{
        display: none;
    }
}

div.elipse.e1{
    left: 100%;
    top: 100%;
    transform: translateX(-50%) translateY(-100%);
}

div.elipse.e2{
    left: 0;
    top: 0;
    transform: translateX(-50%) translateY(0%);
}