//Variables and functions
    @use "../variables-functions/variables"        as *;
    @use '../variables-functions/colors'           as *;
    @use '../variables-functions/functions'        as *;
    @use '../variables-functions/components/fonts' as *;
    @use '../variables-functions/animations'       as *;

footer.footer-pc{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 80%;
    position: fixed;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    nav.nav-pc{
        z-index: 100;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 1fr);
        width: 100%;
        max-height: 60px;
        border: 1px solid $line;
        background-color: $gray-low-op;
        border-radius: 55px;
        overflow: hidden;
        transition: 1s cubic-bezier(0.23, 1, 0.320, 1);

        a{
            border: 1px solid transparent;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 100%;
            max-height: 100%;
            padding: 10px;
            transition: 0.3s ease;
            
            border-radius: 55px;
            img{
                width: 32px;
                transition: 0.3s ease;
            }

            &:hover{
                border: 1px solid $line;
                background-color: $gray;

                img{
                    //transform: rotate(10deg);
                    transform: rotateY(180deg);
                }
            }
        }

        a.current-page{
            border: 2px solid $section-mark;
            background-color: rgba($section-mark, 0.05);
            box-shadow: 0 0 10px 0 rgba($section-mark, 1);
        }
    }

    nav.nav-pc.closed{
        border: 0px solid $line;
        max-height: 0px;
        width: 0;  
    }

    button.close-nav-button{
        border: 1px solid $line;
        background-color: $gray-low-op;
        border-radius: 50%;
        height: 100%;
        aspect-ratio: 1 / 1;
        padding: 10px;
        cursor: pointer;
        transition: 0.3s ease;
        
        img{
            width: 32px;
            transition: 0.3s ease;
        }

        &:hover{
            background-color: $gray;
            transform: translateY(-5px) scale(1.1);
            box-shadow: 2px 2px 10px 0 rgba($section-mark, 0.2);
            border: 1px solid $text-highlight;

            img{
                transform: rotate(10deg);
            }
        }


    }
}

@media (orientation: portrait) {
    footer.footer-pc{
        display: none;
    }
}