//Imports
    @use '../../animations/animations'         as *;
    @use '../../components/buttons'            as *;
    @use '../../components/fonts'              as *;
    @use '../../components/lines'              as *;
    @use '../../variables-functions/colors'    as *;
    @use '../../variables-functions/functions' as *;
    @use '../../variables-functions/variables' as *;

section.picode{
    min-height: 100vh;
    background: $background-gradient;
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    padding: 80px 0 0 0;

    img.project-img{
        width: 45%;
        align-self: center;
        border-radius: 50%;
        border: 1px solid rgba($text-highlight, 0.5);
        box-shadow: 0 0 40px rgba($text-highlight, 0.5);
    }

    div.content{
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0 60px 0 60px;

        div.title-container{
            display: flex;
            gap: 10px;
            justify-content: start;
            align-items: center;

            a.return-arrow{
                position: fixed;
                left: 15px;
                img{
                    width: 30px;
                }
            }

            h2{
                @include text-title();
                font-size: 45px;
            }
            img{
                width: 70px;
            }
        }

        div.skills-container{
            display: flex;
            gap: 10px;
            @include text-paragraph();
            p{
                font-size: 14px;
                background-color: rgba($text-highlight, 0.2);
                padding: 4px;
                border-radius: 4px;
            }
        }

        div.texts-container{
            display: flex;
            flex-direction: column;
            gap: 10px;
            p.text{
                @include text-paragraph;
                font-size: 14px;
            }
        }

        div.buttons-container{
            
            display: flex;
            flex-direction: column;
            gap: 10px;

            a.test-button{
                @include button-primary();
                
                button{
                    border-radius: 10px;
                    padding: 8px;
                }
            }

            a.github-button{
                @include button-secondary();

                button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 10px;
                    padding: 8px;
                    img{
                        width: 25px;
                    }
                }
            }
        }
    }

    div.previews{
        h2{

        }
        img{
            width: 100%;
        }
    }
}