//Imports
    @use '../../animations/animations'         as *;
    @use '../../components/buttons'            as *;
    @use '../../components/fonts'              as *;
    @use '../../components/lines'              as *;
    @use '../../variables-functions/colors'    as *;
    @use '../../variables-functions/functions' as *;
    @use '../../variables-functions/variables' as *;

section.picode{
    height: 100vh;
    background: $background-gradient;
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);

    a.return-arrow{
        position: fixed;
        top: 50%;
        img{
            
        }
    }

    img.project-image{
        width: 100%;
    }

    div.content{
        padding: 20px 40px 0 40px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        div.title-container{
            display: flex;
            gap: 10px;
            justify-content: start;
            align-items: center;
            h2{
                @include text-title();
            }
            img{
                width: 60px;
            }
        }

        div.skills-container{
            display: flex;
            gap: 10px;
            @include text-paragraph();
            p{
                font-size: 12px;
                background-color: rgba($text-highlight, 0.2);
                padding: 4px;
                border-radius: 4px;
            }
        }

        div.texts-container{
            display: flex;
            flex-direction: column;
            gap: 10px;
            p.text{
                @include text-paragraph
            }
        }

        div.buttons-container{

            a{
                
            }

            a.test-button{
                button{

                }
            }

            a.github-button{
                button{

                }
            }
        }
    }
}