//Imports
    @use '../../animations/animations'         as *;
    @use '../../components/buttons'            as *;
    @use '../../components/fonts'              as *;
    @use '../../components/lines'              as *;
    @use '../../variables-functions/colors'    as *;
    @use '../../variables-functions/functions' as *;
    @use '../../variables-functions/variables' as *;

section.savio-sena{
    min-height: 100vh;
    background: $background-gradient;
    display: grid;
    place-items: center;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    padding: 80px 60px 80px 60px;

    img.project-img{
        width: 60%;
        max-width: 400px;
        min-width: 200px;
        align-self: center;
        border-radius: 50%;
        border: 2px solid rgba(rgb(0, 248, 0), 1);
        box-shadow: 0 0 40px rgba(green, 1);
        animation: project-icon-animation 4s ease infinite;
    }

    div.content{
        display: flex;
        flex-direction: column;
        gap: 16px;

        div.title-container{
            display: flex;
            gap: 10px;
            justify-content: start;
            align-items: center;

            a.return-arrow{
                position: absolute;
                left: 15px;
                opacity: 0.75;
                transition: 0.3s ease;

                img{
                    width: 30px;
                }

                &:hover{
                    transform: scale(1.1);
                    opacity: 1;
                }
                &:active{
                    transform: scale(0.95)
                }
            }

            h2{
                @include text-title();
            }
            img{
                width: 70px;
            }
        }

        div.skills-container{
            display: flex;
            gap: 10px;
            @include text-paragraph();
            p{
                font-size: 14px;
                background-color: rgba($text-highlight, 0.2);
                padding: 4px;
                border-radius: 4px;
            }
        }

        div.texts-container{
            display: flex;
            flex-direction: column;
            gap: 10px;
            p.text{
                @include text-paragraph;
                font-size: 14px;
            }
        }

        div.buttons-container{
            
            display: flex;
            flex-direction: column;
            gap: 10px;

            a.test-button{
                @include button-primary();
                
                button{
                    border-radius: 10px;
                    padding: 8px;
                }
            }

            a.github-button{
                @include button-secondary();

                button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 10px;
                    padding: 8px;
                    img{
                        width: 25px;
                    }
                }
            }
        }
    }
}

section.savio-sena-previews{
    padding: 80px 20px 150px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-image: url('../../../img/background/background3.png');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;

    h2{
        @include text-title();
    }
    div.mockup-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;

        div.mockup{
            width: 100%;
            max-width: 600px;
            background-size: cover;
            background-image: url('../../../img/projects/savio-sena-phone-v.png');
            aspect-ratio: 16 / 16;
            transform: rotate(90deg);
            cursor: pointer;
            transition: 1s ease;

            &:hover{
                transform: scale(1.05) rotate(90deg);
            }
        }
        div.mockup.horizontal{
            background-image: url('../../../img/projects/savio-sena-phone-h.png');
            transform: rotate(0deg);
        }
    }
}

@media (orientation: landscape){
    section.savio-sena{
        grid-template-columns: repeat(2, 1fr);
        //gap: 30;

        img.project-img{
            width: 80%;
        }

        div.content{
            gap: 30px;

            div.title-container{

                a.return-arrow{
                    position: absolute;
                    left: 80px;
                    top: 100px;
                    img{
                        width: 40px;
                    }
                }
            }

            div.buttons-container{
                gap: 20px;

                a.test-button{
                    button{
                        padding: 16px;
                    }
                }

                a.github-button{
                    @include button-secondary();

                    button{
                        padding: 16px;
                        border-radius: 10px;
                        img{
                            width: 25px;
                        }
                    }
                }
            }
        }
    }

    section.picode-previews{
        gap: 50px;
    }
}