@use "./colors" as *;
 
@keyframes floating {
    0%{
        transform: scale(1) translateX(-50%);
    }
    50%{
        transform: scale(1.06) translateX(-50%);
    }
    100%{
        transform: scale(1) translateX(-50%);
    }
}

@keyframes elipse-floating {
    0%{
        transform: scale(1);
        transform: translateY(0px);
    }
    50%{
        transform: scale(1.15);
        transform: translateY(-30px);
    }
    100%{
        transform: scale(1);
        transform: translateY(0px);
    }
}

@keyframes scroll-progress-line-animation {
    0%{
        border-radius: 0 20px 0 0;
    }
    50%{
        border-radius: 0 0 20px 0;
    }
    100%{
        border-radius: 0 20px 0 0;
    }
}

@keyframes hacker-animation {
    0%{
        transform: translateX(0px) translateY(0px) rotateX(0deg);
    }
    50%{
        transform: translateX(-5px) translateY(-15px) rotateX(20deg);
    }
    100%{
        transform: translateX(0px) translateY(0px) rotateX(0deg);
    }
}

@keyframes button-animation{
    0%{
        filter: brightness(1);
    }
    25%{
        filter: brightness(1.5);
    }
    50%{
        filter: brightness(1);
    }
    75%{
        filter: brightness(0.8);
    }
    100%{
        filter: brightness(1);
    }
}

@keyframes start-animation-1{
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes start-animation-2{
    from{
        transform: translateX(50px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes start-animation-3{
    from{
        transform: translateX(-50px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes progress-bar {
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}