@mixin main-font(){
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

@mixin section-title(){

}

@mixin section-paragraph{

}