//Variables and functions
    @use "./variables-functions/variables" as *;
    @use './variables-functions/colors'    as *;
    @use './variables-functions/functions' as *;
    @use './components/fonts'              as *;
    @use './nav/nav-mobile.scss'           as *;
    @use './nav/nav-pc.scss'               as *;
    @use './animations/animations'         as *;

header{
    background-color: $gray;
    text-align: center;
    text-justify: center;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    opacity: 0.90;
    z-index: 15;
    border-bottom: 1px solid $gray-light;

    p{
        @include text-main();
        color: rgba(255, 255, 255, 0.3);
        font-size: 15px;
    }
}