// I M P O R T S
//  |
//  |
    //Variables and functions
    @use './variables-functions/variables' as *;
    @use './variables-functions/colors' as *;
    @use './variables-functions/functions' as *;
//  |
//  |
    //Nav
    @use './nav/nav.scss' as *;
    @use './nav/nav-mobile.scss' as *;
    @use './nav/nav-pc.scss' as *;
//  |
//  |
    //Header
    @use './header' as *;
//  |
//  |
    //Pages
    @use './pages/home' as *;
    @use './pages/projects' as *;
    @use './pages/skills' as *;
    @use './pages/education' as *;
    @use './pages/contact' as *;

//RESETS
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

div.vertical-line{
    width: 1px;
    background-color: $line;
}

div.elipse{
    position: fixed;
    z-index: 0;
    opacity: 0.1;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: $main-gradient;
    filter: blur(50px);
    animation: elipse-floating 4s ease infinite;
}

div.elipse.right{
    right: -20%;
}

div.elipse.left{
    left: -20%;
}

@media (orientation: landscape){
    div.elipse{
        width: 500px;
        height: 500px;
    }

    div.elipse.right{
        right: -5%;
    }

    div.elipse.left{
        left: -5%;
    }
}

div.scroll-progress-line{
    background: $main-gradient;
    height: 10px;
    width: 50%;
    margin-bottom: 10px;
    animation: scroll-progress-line-animation 2s linear infinite;
}

span.text-highlight{
    font-weight: 900;
}

/*

    div class="scroll-progress-line"></div>
    <p><span class="text-highlight">PIERRY SAVIO</span> - DESENVOLVEDOR WEB</p>

*/



