// I M P O R T S
//  |
//  |
    //Variables and functions
    @use './variables-functions/variables' as *;
    @use './variables-functions/colors' as *;
    @use './variables-functions/functions' as *;
//  |
//  |
    //Nav
    @use './nav/nav.scss' as *;
    @use './nav/nav-mobile.scss' as *;
    @use './nav/nav-pc.scss' as *;
//  |
//  |
    //Header
    @use './header' as *;
//  |
//  |
    //Pages
    @use './pages/home' as *;
    @use './pages/about-me' as *;
    @use './pages/projects' as *;
    @use './pages/skills' as *;
    @use './pages/education' as *;
    @use './pages/contact' as *;

//RESETS
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body, html, .home{
    position: relative;
    scroll-behavior: smooth;
}

div.vertical-line{
    width: 1px;
    background-color: $line;
}

.background-decoration {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

//ELIPSES
img.elipse {
  position: absolute;
  width: 350px;
  height: 350px;
  opacity: 0.2;
  //animation: elipse-floating 3s ease infinite;
  will-change: transform;

  &--right { right: -100px;}
  &--left  { left: -100px;}
  &--up    { top: -100px;}
  &--down  { bottom: -100px; }
}

@media (orientation: landscape){
    img.elipse{
        transform: scale(2);
    }
}

div.scroll-progress-line{
    background: $main-gradient;
    height: 10px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 50px;
    transform-origin: 0 50%;
    animation: progress-bar linear;
    animation-timeline: scroll();
}

span.text-highlight{
    font-weight: 900;
}



